<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

<div class="googleFont">
<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <div><img [src]="imgURL" height="200" *ngIf="imgURL"></div>
            <div><input type="file" accept="images/*" (change)="onFileSelected($event)" name="img" id="img">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name.." name="name"
                    [formControl]="name">
                <small *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                    <small *ngIf="name.errors.required">
                        Name is a mandatory field.
                    </small>
                    <small *ngIf="name.errors.pattern">
                        Enter a valid name.
                    </small>
                </small>
            </div>
            <div class="form-group col-md-4">
                <label for="dob">Date of Birth</label>
                <input type="date" class="form-control" id="dob" placeholder="12/12/1997" name="dob" [formControl]="dob"
                    readonly="readonly">
            </div>
        </div>
        <div aria-readonly="true">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked
                    [formControl]="gender">
                <label class="form-check-label" for="male">
                    Male
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="female" value="female"
                    [formControl]="gender">
                <label class="form-check-label" for="female">
                    Female
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" id="others" value="others"
                    [formControl]="gender">
                <label class="form-check-label" for="others">
                    Others
                </label>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="inputPhone">Phone</label>
            <input type="text" name="phone" class="form-control" id="inputPhone" placeholder="7896630133.."
                [formControl]="phone">
            <small *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
                <small *ngIf="phone.errors.required">
                    Phone number is a mandatory field.
                </small>
                <small *ngIf="phone.errors.minlength">
                    Too short for a phone number.
                </small>
                <small *ngIf="phone.errors.maxlength">
                    Too long for a phone number.
                </small>
            </small>
        </div>

        <div class="form-group col-md-4">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="abc123@example.com" formControlName="email"
                name="email" readonly="readonly">
        </div>
        <!-- <div>
            <small>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive
                Email
                notifications from us and can opt out at any time.</small>
        </div> -->


        <button type="submit" class="btn btn-primary" [disabled]="!editForm.valid">Update Changes</button>

        
    </form><br><br>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf= "submitMessage">
            <strong>{{submitMessage}}</strong> your profile was successfully updated.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <button class="btn btn-primary" [routerLink] = "['../editpass']">Click here to edit password</button>
    &nbsp;&nbsp;
    <button class="btn btn-primary" (click)="onDelete()">Delete Your Account</button><br><br><br>
</div>
</div>
