<br> <br>
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
<div class="googlefont col-lg-8 col-md-6">
  <div class="card">
    <div class="container">
      <img class="card-img-top" src="{{bookone.smallThumbnail}}" alt="{{bookone.title}}">
    <div class="middle">
      <button *ngIf = "!getFavourites()" class="btn" (click)="addToFavourite(bookone.id)">Favourite</button>
      <button *ngIf = "getFavourites()" class="btn" (click) = "removeFromFavourite(bookone.id)">UnFavourite</button>
        <button class="btn" (click)="saveRecommend()">Recommend</button>
    </div>
    </div>
    <div class="card-body" routerLink="bookDetails/{{bookone.id}}">
      <div class="mousey"><h6 class="card-title">{{bookone.title}}</h6></div>
      <p class="card-text mouseys">{{bookone.authors}}</p>
    </div>
  </div>
</div>
