<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
 <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
<div class="forFooter"> 
<app-header></app-header>
  <router-outlet></router-outlet>
  <footer class="googlefont">
      <!-- <div class="forFavicon"> -->
          <a href="https://instagram.com/"><i class="fa fa-instagram fa-lg social-link" aria-hidden="true"></i></a>
          &nbsp;
          <a href="https://in.linkedin.com/"><i class="fa fa-linkedin-square fa-lg social-link" aria-hidden="true"></i></a>
          &nbsp;
          <a href="https://twitter.com/login?lang=en"><i class="fa fa-twitter fa-lg social-link" aria-hidden="true"></i></a>
        <!-- </div> -->
      <div class="container">
          <span>Developed with ♥ by Trishala, Vaishnavi, Triporna</span>
      </div>
  </footer>
</div>