<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

<div class="googleFont">
<h3>Change Password</h3>
<br>

<form [formGroup] = "changePassword" (ngSubmit)= "passwordChange()">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="******" [formControl] = "password" name="password">
            <small *ngIf="password.invalid && (password.dirty || password.touched)">
                <small *ngIf="password.errors.required" class="alert alert-danger">
                    Password is a mandatory field.
                </small>
                <small *ngIf="password.errors.minlength">
                    Password should be atleast 6 characters.
                </small>
            </small>
        </div>
        <div class="form-group col-md-4">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="******" [formControl] = "confirmPassword" name="confirmPassword" required pattern="{{password.value}}">
            <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || password.touched)">
                <small *ngIf="confirmPassword.errors.required" class="alert alert-danger">
                    Confirm Password is a mandatory field.
                </small>
                <small *ngIf="confirmPassword.errors.minlength">
                    Confirm Password should be atleast 6 characters.
                </small>
                <small class="alert alert-danger" *ngIf="confirmPassword.errors.pattern">
                    Passwords do not match.
                </small>
            </small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!changePassword.valid">Update Password</button>
</form>
</div>