<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
<div class="googlefont">
    <h1 mat-dialog-title>Rate the book!</h1>
    <div mat-dialog-content>
        <div>
            <star-rating value=5 totalstars="5" checkedcolor="gold" uncheckedcolor="gray" size="24px" readonly="false"
                (rate)="onRate($event)"></star-rating>
        </div>
        <!-- <div mat-dialog-actions>
            <button mat-raised-button color="primary" [mat-dialog-close] (click)="saveRating()">Submit</button>
        </div> -->
    </div>
</div>